@using System.Web.Optimization;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/Styles")
</head>
<body>
    <div> 
        <app-root></app-root>
    </div>
    @Scripts.Render("~/Scripts/Bundles")
</body>
</html>
